﻿@model IEnumerable<_5Talent.Models.listingForRealtors>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{ <p> MLS#: @Html.TextBox("sMLS") City: @Html.TextBox("sCity")</p>
  <p> State: @Html.TextBox("sState") Zipcode: @Html.TextBox("sZip")</p>
  <p>Bedrooms: @Html.TextBox("sBed") Bathrooms: @Html.TextBox("sBath") Square Feet: @Html.TextBox("sSquare") </p>
  <p> <input type="submit" value="Search" /></p> }
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Street1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zipcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Neighborhood)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateListed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bedrooms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bathrooms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GarageSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SquareFeet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LotSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Street1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Street2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zipcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Neighborhood)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateListed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bedrooms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Photos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bathrooms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GarageSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SquareFeet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LotSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
